[submodule "groundstation-tracking-scheduler"]
	path = groundstation-tracking-scheduler
	url = https://github.com/philcrump/groundstation-tracking-scheduler
[submodule "arduino-serial"]
	path = arduino-serial
	url = https://github.com/khoohuibo/arduino-serial
[submodule "k3ng_rotator_controller"]
	path = k3ng_rotator_controller
	url = https://github.com/khoohuibo/k3ng_rotator_controller
